* {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;  /* pour les navigateurs ne connaissant pas le viewport width */
    font-size: 2.5vw;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: darkorange;
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul, li {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}
h1 {
    font-size: 180%;
    letter-spacing: 2;
}

h2 {
    font-size: 140%;
    letter-spacing: 2;
}

h3 {
    font-size: 120%;
    letter-spacing: 1;
}

h4 {
    margin-left: 3em;
}

.li_1::before {
    color: orange;
    padding: 10px;
    content: '<';
}

.li_2::before {
    color: green;
    margin-left: 20px;
    padding: 10px;
    content: '/* ';
}

.li_3::before {
    color: blue;
    margin-left: 40px;
    padding: 10px;
    content: '<!--';
}

.li_1::after {
    color: orange;
    padding: 10px;
    content: '>';
}


.li_2::after {
    color: green;
    padding: 10px;
    content: '*/';
}

.li_3::after {
    color: blue;
    padding: 10px;
    content: '-->';
}

li {
    font-size: .9em;
    text-align: left;
}

ul {
    list-style: none;
    padding-left:0;
}

.date {
    color: #604F40;
}
