.header h1 {
    font-family: 'Nixie One', cursive;
    font-variant: small-caps;
    background-color: rgb(255, 115, 0);
    background-color: rgba(255, 115, 0, 0.8);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 240%;
}

#Competences h2 {
    margin-top: 0;
    text-align: center;
}

#Competences li::before {
  content: "{ ";
  color: orange;
}

#Competences li::after {
  content: " }";
  color: orange;
}

#Langages, #Annexe, #Qualites {
    width: 33%;
    float: left;
}

#Annexe li {
    text-align: left;
}

#Langages li {
    text-align: center;
}

#Qualites li {
    text-align: right;
}

#footer p {
    margin-top: 4px;
    margin-bottom: 4px;
}

#footer {
  background-color: #604F40;
  background-color: hsl(25, 10%, 30%);
}

#Experiences h1, #formations h1 {
  text-align: center;
}

#Experiences h2, #formations h2 {
  color: rgb(255, 115, 0);
}

#Experiences h3, #formations h3 {
  color: rgb(150, 61, 0);
}

#Experiences h4, #formations h4 {
  /* color: rgb(193, 78, 0); */
  padding: 0;
}
