/* { border: 1px solid rgba(0, 0, 0, 0.1); } */

#contenu {
      margin: 0 auto;
      max-width: 400px;
}

body {
    width: 100%;
  margin: 0 auto;
}

header, footer {
  position: fixed;
  background-color: #fff;
  left: 0px;
  width: 100%;
/*  max-width: 800px;
  margin: 0 auto;  */
    /* ok ça fonctionne pour la taille d'affichage max
    mais les caractères s'adaptent toujours au viewport
    donc à la largeur de la fenêtre et non du contenu */
    /* Au final on n'arrivera au résultat souhaité
    qu'avec JavaScript */
}

header {
    z-index: 3;
    top:0;
    margin-top:0;
    text-align:center;
}

footer {
    z-index: 2;
    align-items: center;
    justify-content: space-around;
    display: flex;
    bottom: 0;
}

main {
    z-index: 1;
    position: absolute;
    margin-top: 6em;
    margin-bottom: 3em;
    background-color: #fff;
    width: 100%;
/*     max-width: 800px;  */
}

div {
    width: 100%;
    margin: 0;
    display: inline-block;
}
